<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}

<!--{% macro input(name, value='', type='text', size=20) -%}
			<input type="{{ type }}" name="{{ name }}" value="{{
				value|e }}" size="{{ size }}">
		{%- endmacro %}-->

<div class="jumbotron text-center">
 <h1>Figure out the words</h1>
    <p>One you have filled all the boxes, click on Finish to see your score</p>



    <form method="POST" action="/figureout">


     <div class="form-group">
         {% for doc in docs %}
          <div> {{ doc['word'].upper() }} </div>


        <!--{{ input ('name' ) }}-->

         <input type="text" name={{doc['_id']}} autocomplete="off" >


         {% endfor %}
        </div>

        {% if count==0 %}

        <a href="/"> <button  class="btn btn-success">Go Back to Home Page</button></a>
        {% else %}
        <button type = "submit" class="btn btn-success" >Figure out the words</button>
        {% endif %}

 </form>
</div>

{% endblock %}

</html>