<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">

 <h1>Jumble a word</h1>

     <a href="/"> <button  class="btn btn-primary">Go Back to Home Page</button></a>
    <h4>Please entry the word in the empty box and click on Add button </h4>

 <form method="POST" action="/jumble">

     <div class="form-group">
        <input class="form-control" type="text" name="word" autocomplete="off">

            <button type = "submit" class="btn btn-success" >Add</button>
        </div>
    </form>
</div>


{% endblock %}
</html>