
<!DOCTYPE html>
<html>
{% extends "base.html" %}

{% block content %}

<div class="entry">

    <h1>Jumbled Words</h1>
    <p>Make your choice </p>


        <div>
        <a href="/jumble">
            <button  class="btn btn-primary">Jumble word</button>
        </a>
            <a href="/figureout">
            <button  class="btn btn-success">Figure out the words</button>
        </a>



    <a href="/drop">
       <button class='btn btn-warning' >Drop database </button>
        </a>

</div>
</div>

{% endblock %}

</html>